@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

.d-none-empty:empty {
  display: none !important;
}

.blur {
  filter: blur(6px) !important;
}

.glow {
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    color: blue;
  }
  75% {
    color: orange;
  }
  100% {
    color: blue;
  }
}
